img {
  min-height: 120px;
 min-width:  150px;
  margin: auto;
  display: inline-block;
}

h1
 {
  margin: 0;
  font-weight: 400;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 20px;
    margin: 20px;
    align-items: stretch;
    justify-content: center;
}

.card {
display: inline-block; 
  width: 260px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
    /*  text-align: left; */
  box-shadow: 0px 5px 20px -10px #111111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: capitalize


}

.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__caption {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1em;
    position: relative;
/*     bogrder-radius: 0 0 3px 3px;
*/  }
  
.card--normal {
  background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
  box-shadow: 0px 5px 20px -10px #3a1c71;
}

.card--water {
  background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}

.card--electric {
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}

.card--fire {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #c71800), to(#fcc245));
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.card--psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}

.card--dark {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.card--grass {
  background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}

.card--ice {
  background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}

.card--fairy {
  background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}

.card:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(-4deg);
          transform: translateY(0px) rotate(-4deg);
          background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
  box-shadow: 0px 5px 20px -10px #3a1c71;
          
}
.card:nth-child(2) {
  -webkit-transform: translateY(0px) rotate(-5deg);
          transform: translateY(0px) rotate(-5deg);
          background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
          box-shadow: 0px 5px 20px -10px #000851;
}
.card:nth-child(3) {
  -webkit-transform: translateY(0px) rotate(2deg);
          transform: translateY(0px) rotate(2deg);
          background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
          background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card:nth-child(4) {
  -webkit-transform: translateY(0px) rotate(-4deg);
          transform: translateY(0px) rotate(-4deg);
          background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
  background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
}
.card:nth-child(5) {
  -webkit-transform: translateY(0px) rotate(-2deg);
          transform: translateY(0px) rotate(-2deg);
          background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
          
}
.card:nth-child(6) {
  -webkit-transform: translateY(0px) rotate(4deg);
          transform: translateY(0px) rotate(4deg);
          background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}
.card:nth-child(7) {
  -webkit-transform: translateY(0px) rotate(-4deg);
          transform: translateY(0px) rotate(-4deg);
          background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
}
.card:nth-child(8) {
  -webkit-transform: translateY(0px) rotate(2deg);
          transform: translateY(0px) rotate(2deg);
          background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
}
.card:nth-child(9) {
  -webkit-transform: translateY(0px) rotate(-3deg);
          transform: translateY(0px) rotate(-3deg);
          background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
}
.card:nth-child(10) {
    -webkit-transform: translateY(0px) rotate(-4deg);
            transform: translateY(0px) rotate(-4deg);
            background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
            box-shadow: 0px 5px 20px -10px #3a1c71;
  }
  .card:nth-child(11) {
    -webkit-transform: translateY(0px) rotate(-4deg);
            transform: translateY(0px) rotate(-4deg);
            background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
    box-shadow: 0px 5px 20px -10px #3a1c71;
            
  }
  .card:nth-child(12) {
    -webkit-transform: translateY(0px) rotate(-5deg);
            transform: translateY(0px) rotate(-5deg);
            background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
            box-shadow: 0px 5px 20px -10px #000851;
  }
  .card:nth-child(13) {
    -webkit-transform: translateY(0px) rotate(2deg);
            transform: translateY(0px) rotate(2deg);
            background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
            background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
  }
  .card:nth-child(14) {
    -webkit-transform: translateY(0px) rotate(-4deg);
            transform: translateY(0px) rotate(-4deg);
            background: -webkit-gradient(linear, left top, right top, color-stop(34%, #ffde00), color-stop(83%, #e8ff99));
    background: linear-gradient(90deg, #ffde00 34%, #e8ff99 83%);
  }
  .card:nth-child(15) {
    -webkit-transform: translateY(0px) rotate(-2deg);
            transform: translateY(0px) rotate(-2deg);
            background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
            
  }
  .card:nth-child(16) {
    -webkit-transform: translateY(0px) rotate(4deg);
            transform: translateY(0px) rotate(4deg);
            background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
  }
  .card:nth-child(17) {
    -webkit-transform: translateY(0px) rotate(-4deg);
            transform: translateY(0px) rotate(-4deg);
            background: linear-gradient(140deg, #c4da3d 0%, #6e7f0e 69%, #275009 100%);
  }
  .card:nth-child(18) {
    -webkit-transform: translateY(0px) rotate(2deg);
            transform: translateY(0px) rotate(2deg);
            background: linear-gradient(230deg, #caeaf6 0%, #a0eaf1 46%, #6fb8eb 100%);
  }
  .card:nth-child(19) {
    -webkit-transform: translateY(0px) rotate(-3deg);
            transform: translateY(0px) rotate(-3deg);
            background: linear-gradient(45deg, #ffe6f0 0%, #ffc5e0 34%, #ffa6b9 71%, #ff8a95 100%);
  }
  .card:nth-child(20) {
      -webkit-transform: translateY(0px) rotate(-4deg);
              transform: translateY(0px) rotate(-4deg);
              background: linear-gradient(110deg, #fdbb2d 0%, #3a1c71 100%);
              box-shadow: 0px 5px 20px -10px #3a1c71;
    }
.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
          cursor: pointer;
}
