
img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

h1{
  margin: 0;
  font-weight: 400;

}
.cards{
    
    align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    
}
.card {
  display: inline-block;
  width: 500px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: capitalize
}
.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 4em;
  position: relative;
  border-radius: 0 0 3px 3px;
}
.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 2em;
  border-radius: 3px 3px 0 0;
}
.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  height: 40px;
  width: 100px;
  font-weight: 100;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}

.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__input {
  margin: 1em 0;
 
     margin: 3em 0;
    width: -webkit-fill-available;
    padding: 15px;
    background: transparent;
}

.card--normal {
  background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
  box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--normal .card__type {
  background-color: #C08A53;
}

.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
button:enabled:hover{
    z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
          cursor: pointer;
}
